## Machine Learning Models

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:
# Load the data
data = pd.read_csv(
    filepath_or_buffer='../data/processed/hotel_reservations_encoded_cleaned.csv',
    sep=',',
    header=0
)
data.head()

,no_of_adults,lead_time,arrival_year,arrival_month,arrival_date,avg_price_per_room,booking_status,type_of_meal_plan_Meal Plan 1,type_of_meal_plan_Meal Plan 2,type_of_meal_plan_Meal Plan 3,...,no_of_weekend_nights_1,no_of_weekend_nights_2,no_of_week_nights_0,no_of_week_nights_1,no_of_week_nights_2,no_of_week_nights_3,no_of_week_nights_4,no_of_week_nights_5,no_of_special_requests_0,no_of_special_requests_1
0,2,224,2017,10,2,65.00,0,1,0,0,...,1,0,0,0,1,0,0,0,1,0
1,2,5,2018,11,6,106.68,0,0,0,0,...,0,1,0,0,0,1,0,0,0,1
2,1,1,2018,2,28,60.00,1,1,0,0,...,0,1,0,1,0,0,0,0,1,0
3,2,211,2018,5,20,100.00,1,1,0,0,...,0,0,0,0,1,0,0,0,1,0
4,2,48,2018,4,11,94.50,1,0,0,0,...,1,0,0,1,0,0,0,0,1,0

### Creating Train and Test dataset

In [14]:
from sklearn.model_selection import train_test_split

# Split the data into training and test sets
X = data.drop(columns=['booking_status'])
y = data['booking_status']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Save the training and test sets after concatenating the features and target variable
train = pd.concat([X_train, y_train], axis=1)
test = pd.concat([X_test, y_test], axis=1)

train.to_csv('../data/ml/hotel_reservations_train.csv', index=False)
test.to_csv('../data/ml/hotel_reservations_test.csv', index=False)

### Creating a simple baseline model